<style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
  </style>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#"> {{ page.menu }}</a>
      </li>
    </ul>

  </div>
</nav>

<div class="container">
  {{ page.header }}
</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item " aria-current="page">{{ page.breadcrumb }}</li>
  </ol>
</nav>
<div class="container-fluid text-center">    
  <div class="row content">
    {% if page.sidebar_first %}
    <div class="col-sm-2 sidenav">
      {{ page.sidebar_first }}
    </div>
    {% endif %}
    {% if page.content %}
    <div class="col-sm-8 text-left"> 
      <h1>Welcome</h1>
    </div>
    {% endif %}
    {% if page.sidebar_second %}
    <div class="col-sm-2 sidenav">
      <div class="well">
       {{ page.sidebar_second }}
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% if page.footer %}
<footer class="container-fluid text-center">
 {{ page.footer }}
</footer>
{% endif %}
</body>